body {
    margin: 0;
    padding: 0;
    background-color: #c7cedb;
}

nav {
    display: block;
    overflow: hidden;
    background-color: #226de5;
    position: fixed;
    top: 0;
    width: 100%;
    //opacity: 0.1;
}

nav a {
    float: left;
    color: whitesmoke;
    padding: 12px 16px;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 25px;
}

nav .panel.left {
    float: left;
}

nav .panel.right {
    float: right;
}

nav a:hover, .login-container button:hover {
    background: #e57a22;
    color: black;
}

.panel.right .login-container {
    float: left;
}

.panel.right a {
    float: right;
}

.login-container button {
    float: right;
    color: whitesmoke;
    background-color: #226de5;
    padding: 12px 16px;
    border: none;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 25px;
}

.login-container input {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    padding: 6px;
    margin-top: 12px;
    border: none;
}


main {
    margin-top: 80px;
}

footer {
    float: bottom;
    overflow: hidden;
    background-color: #1e1f21;
    display: block;
    width: 100%;
}

footer p {
    float: left;
    padding: 10px 12px;
    color: whitesmoke;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 20px;
}

.content {
    display: block;
    margin: 70px 33%;
    padding: 10px;
    overflow: inherit;
    background-color: whitesmoke;
    font-family: Arial, Helvetica, sans-serif;
    border: 0.5px solid gray;
    border-radius: 5px;
}

.content .info {
    display: block;
    opacity: 0.5;
}

#user {
    float: left;
}
#pubDate {
    float: right;
}

.content h1 {
    float: left;
    clear: left;
}

.content img {
    max-width: 100%;
    max-height: 100%;
}

.content a {
    text-decoration: none;
}

.form-container input {
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    display: inline-block;
    border: none;
    background: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
}

.form-container button {
    float: left;
    border: none;
    cursor: pointer;
    padding: 12px 16px;
    width: 30%;
    background: #226de5;
    color: whitesmoke;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 25px;
}

.form-container button:hover {
    background: #e57a22;
    color: black;
}

.form-container label {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    font-weight: bold;
}

.form-container {
    margin: 100px 33%;
}

.inputFile {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}

.inputFile + label {
    color: white;
    background-color: #f44289;
    display: inline-block;
    font-weight: bold;
    font-size: 25px;
    padding: 12px 16px;
}

.inputFile:focus + label,
.inputFile + label:hover {
    background-color: #7c074d;
}

#delete-form {
    margin-bottom: 10px;
}

#delete-button {
    float: right;
    border: none;
    background-color: #f44289;
    color: white;
    border-radius: 50%;
}

#delete-button:hover {
    background-color: #7c074d;
}

.comments {
    margin: 20px 33%;
}

.comment {
    border: 1px solid black;
    border-radius: 5px;
    margin: 10px 0;
    background-color: whitesmoke;
    padding: 5px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}

.comment .info p {
    display: inline;
    margin-right: 20px;
    margin-left: 2px;
    opacity: 0.5;
}

.comment-text {
    border-top: 1px solid black;
}

.add-comment textarea {
    width: 50%;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    border-radius: 5px;
}

.add-comment form button {
    display: block;
    border: none;
    border-radius: 5px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    padding: 5px 15px;
    background-color: #f44289;
    color: white;
}

.add-comment form button:hover {
    background-color: #7c074d;
}